<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container bg-img">
  <ion-card class="ion-padding">
    <ion-card-content class="ion-no-padding">
      <div class="ion-margin-bottom">
        <ion-text style="font-size: large;" color="medium">
          <a (click)="navCtrl.navigateForward('/signup')">Cree una cuenta</a> si no está registrado.
        </ion-text>
      </div>

      <form #loginForm="ngForm">
        <ion-button (click)="quickFill()" style="align-self: center;">
          <ion-icon slot="start" name="people-circle-outline"></ion-icon>
          Acceso rápido
        </ion-button>
        <ion-button expand="block" [disabled]="!loginForm.valid" color="warning" (click)="login()">
          Ingresar
        </ion-button>
        <ion-item>
          <ion-input label="Contraseña" [clearOnEdit]="false" labelPlacement="stacked"
            helperText="Entre 6 y 20 caracteres." type="password" [(ngModel)]="password" name="password" required
            (ionInput)="quickUserNum=-1">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Correo electrónico" [clearInput]="true" labelPlacement="stacked"
            placeholder="tucorreo@ejemplo.com" type="email" errorText="Correo inválido" [(ngModel)]="email" name="email"
            required (ionInput)="quickUserNum=-1"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
    <div class="img-cont" style="display: flex; justify-content: center;">
      <img src="../../assets/login.png" width="70%">
    </div>
  </ion-card>
</div>