<div class="container bg-img">
  <div class="settings">
    <ion-fab slot="fixed" vertical="top" horizontal="start" class="topics ion-padding-top">
      <ion-fab-button color="tertiary">
        <img [src]="'../../assets/' + getTopicImage() + '.png'">
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="dark" (click)="chooseTopic('colors')">
          <img src="../../assets/topics/colors.png">
        </ion-fab-button>
        <ion-fab-button color="dark" (click)="chooseTopic('animals')">
          <img src="../../assets/topics/animals.png">
        </ion-fab-button>
        <ion-fab-button color="dark" (click)="chooseTopic('numbers')">
          <img src="../../assets/topics/numbers.png">
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab slot="fixed" vertical="top" horizontal="end" class="langs ion-padding-top">
      <ion-fab-button color="tertiary">
        <img [src]="'../../assets/' + getLangImage() + '.png'">
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="dark" (click)="this.chosenLang = 'es'">
          <img src="../../assets/flags/es.png">
        </ion-fab-button>
        <ion-fab-button color="dark" (click)="this.chosenLang = 'en'">
          <img src="../../assets/flags/en.png">
        </ion-fab-button>
        <ion-fab-button color="dark" (click)="this.chosenLang = 'pt'">
          <img src="../../assets/flags/pt.png">
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <div class="cards" *ngIf="chosenTopic">
    <ion-button class="card ion-margin-bottom" [id]="card" *ngFor="let card of cardsToShow" (click)="pressCard(card)"
      [disabled]="!chosenLang">
      <img [src]="'../../assets/cards/' + chosenTopic + '/' + card + '.png'">
    </ion-button>
  </div>
</div>

<ion-fab slot="fixed" vertical="bottom" horizontal="start">
  <ion-fab-button shape="round" color="success" (click)="signOut()">
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>