<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Idiomas</ion-title>
    <ion-buttons *ngIf="userInSession" slot="primary">
      <ion-button fill="outline" (click)="signOut()"> Cerrar sesión </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="bg-img" style="height: 100%;">
  <div class="container">
    <ng-container *ngIf="userInSession; else noUser">
      To continue...
    </ng-container>
    <ng-template #noUser>
      <ion-card style="align-content: center;" class="ion-padding ion-margin">
        <ion-card-content class="ion-no-padding">Si quiere jugar, debe iniciar sesión.</ion-card-content>
        <ion-button expand="block" size="large" color="warning" (click)="navCtrl.navigateBack('/login')">
          Ingrese a su cuenta</ion-button>
        <ion-card-title>No se ha iniciado sesión</ion-card-title>
      </ion-card>
    </ng-template>
  </div>

</div>