.container {
  height: 100%;
  background: url('../../assets/languages-bg.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  ion-card-title {
    font-size: 7.5vw;
  }
  ion-card-content {
    font-size: 3vh;
  }

  .options {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;

    ion-button {
      flex: 1;

      .button-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          margin-top: 25px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: xxx-large;
        }
      }
    }
  }
}